<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Métodos Para Simular Números Aleatorios </a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a routerLink="/centros_cuadrados">Método de los Centros Cuadrados</a></li>
        <li><a routerLink="/generador_multiplicativo">Generador Multiplicativo</a></li>
        <li><a routerLink="/congruencial">Método Congruencial</a></li>
        <li><a routerLink="/congruencial_mixto">Método Congruencial Mixto</a></li>
      </ul>
    </div>
  </div>
</nav>
