<!-- Flash messages -->
<div class="row">
  <app-flash-message
    *ngIf="showFlashMessage"
    (close)="showFlashMessage = false"
    [flashMessage]="flashMessage"
    [alertSuccess]="flashMessageSuccess">
  </app-flash-message>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>
      Método Congruencial Mixto
    </h1>
  </div>
  <div class="col-xs-12">
    <h4>El generador congruencial mixto tiene periodo completo si y sólo si</h4>
  </div>
  <div class="col-xs-12">
    <ul>
      <li><p>Sean <span>c</span> y <span>m</span> primos relativos (el entero positivo que divide <span>c</span> y <span>m</span> es 1)</p></li>
      <li><p>Si <span>q</span> es un número primo que divide a <span>m</span>; entonces, <span>q</span> divide a <span>(a-1)</span></p></li>
      <li><p>Si 4 divide a <span>m</span>; entonces, 4 divide a <span>(a-1)</span>.</p></li>
    </ul>
  </div>
</div>

<!-- Form -->
<div class="row">
  <div class="form-group">
    <label for="entradaSemilla2">Semilla</label>
    <input type="text" class="form-control" id="entradaSemilla2" aria-describedby="entradaSemilla2A"
           placeholder="Escriba la semilla Por ejemplo 4" [(ngModel)]="textSeed">
    <small id="entradaSemilla2A" class="form-text text-muted">La semilla debe ser 1 o mayor.</small>
  </div>

  <div class="form-group">
    <label for="entradaA">Valor de 'a'</label>
    <input type="text" class="form-control" id="entradaA" aria-describedby="entradaAA"
           placeholder="Escriba el valor de 'a' Por ejemplo 5" [(ngModel)]="textAValue">
    <small id="entradaAA" class="form-text text-muted">El multiplicador debe ser 1 o mayor.</small>
  </div>
  <div class="form-group">
    <label for="entradaC">Valor de 'c'</label>
    <input type="text" class="form-control" id="entradaC" aria-describedby="entradaCA"
           placeholder="Escriba el valor de 'c' Por ejemplo 7 " [(ngModel)]="textCValue">
    <small id="entradaCA" class="form-text text-muted">El incremento debe ser 1 o mayor.</small>
  </div>
  <div class="form-group">
    <label for="entradaModA">Valor del módulo</label>
    <input type="text" class="form-control" id="entradaModA" aria-describedby="entradaModA"
           placeholder="Escriba el valor del modulo Por ejemplo 8" [(ngModel)]="modText">
    <small id="entradaModA" class="form-text text-muted">El módulo debe ser 1 o mayor.</small>
  </div>

  <div class="form-group">
    <label for="entradaNum">Números a generar</label>
    <input type="text" class="form-control" id="entradaNum" aria-describedby="entradaNumA"
           placeholder="Escriba cúantos números desea generar" [(ngModel)]="textByNumbers">
    <small id="entradaNumA" class="form-text text-muted">El limite de numeros es 1000</small>
  </div>
  <button type="submit" class="btn btn-info" (click)="generateA()">Generar números random</button>
</div>
<div class="form-group">
      <label for="inputNumbersChi">Nivel de Signifancia</label>
      <label for="inputNumbersChi2">5%</label>
      <input type="radio" name="answer" value=0.05 [(ngModel)]="selected" id="inputNumbersChi2" checked="checked">
      <label for="inputNumbersChi3">10%</label>
      <input type="radio" name="answer" value=0.1 [(ngModel)]="selected"  id="inputNumbersChi3"> 
    </div>
  <button type="submit" class="btn btn-info" (click)="onGenerateChi()">Prueba Chi</button>

  <div class="form-group">
      <label for="inputNumbersKS">Forma de Kilmogorov Smirnov</label>
      <label for="inputNumbersKS2">Sin Ajustar</label>
      <input type="radio" name="answerN" value=0 [(ngModel)]="selectK" id="inputNumbersKS2" checked="checked">
      <label for="inputNumbersKS3">Ajustar</label>
      <input type="radio" name="answerN" value=1 [(ngModel)]="selectK"  id="inputNumbersKS3"> 
     
    </div>
    <div class="form-group">
        <label for="inputNumbersKSN">Nivel de Signifancia</label>
        <label for="inputNumbersKS4">5%</label>
        <input type="radio" name="answer2" value=0 [(ngModel)]="selectedSK" id="inputNumbersKS4" checked="checked">
        <label for="inputNumbersKS5">10%</label>
        <input type="radio" name="answer2" value=1 [(ngModel)]="selectedSK"  id="inputNumbersKS5"> 
    </div>
  <button type="submit" class="btn btn-info" (click)="onGenerateKilmogorov()">Prueba Kilmogorov Smirnov</button>
<hr>

<!-- Random numbers result -->
<div class="row" *ngIf="flashMessageSuccess && showFlashMessage">
  <div class="jumbotron">
    <h3 class="display-3">Números generados:</h3>
    <hr>
    <div *ngFor="let rand of numerosAleatorios;  let i = index">
      <h5>X{{ i + 1 }}: {{ rand }}</h5>
    </div>
  </div>
</div>
